<ion-content fullscreen="true">
  <div class="wrapper">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text color="dark">
            <h2>
              {{'welcome.choose_language' | translate}}
            </h2>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="language-buttons">
            <ion-button size="default" [color]="getButtonStatus('en')" (click)="selectLanguage('en')">English
            </ion-button>
            <ion-button size="default" [color]="getButtonStatus('si')" (click)="selectLanguage('si')">සිංහල</ion-button>
            <ion-button size="default" [color]="getButtonStatus('ta')" (click)="selectLanguage('ta')">தமிழ்</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>