.wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

h2 {
  text-align: center;
}

.language-buttons {
  display: flex;
  flex-direction: column;
  margin: 0 2em;
}

ion-content::part(background) {
  background: url("../../../../assets/abstract-background.png");
  background-size: cover;
  background-position-x: right;
  background-position-y: 10%;
}
