<ion-header>
  <ion-toolbar>
    <ion-title>{{'settings.select_location.title' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">{{'generic.close' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="map-wrapper">
    <div id="map-container" #mapContainer></div>
    <div id="map-marker" *ngIf="!loading"></div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [disabled]="updating" (click)="updateResidentialLocation()">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
