.map-wrapper {
  height: 100%;
  #map-container {
    height: 100%;
    width: 100%;
  }
  
  #map-marker {
    position: absolute;
    background: url('https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2.png')
      no-repeat;
    top: 50%;
    left: calc(50% - 1px);
    z-index: 1;
    height: 43px;
    width: 27px;
    margin-top: -43px;
    margin-left: -13px;
  }
}
