.slide {
  display: flex;
  flex-direction: column;
  padding-top: 15vh;
  height: 100vh;

  .image-wrapper {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img {
    max-width: 70%;
    max-height: 100%;
    pointer-events: none;
  }
  h2 {
    margin-top: 2.8rem;
  }
  p {
    padding: 0 40px;
    font-size: small;
    color: var(--ion-color-step-600, #60646b);

    b {
      color: var(--ion-text-color, #000000);
    }
  }
}
