<ion-content fullscreen>
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <div class="image-wrapper">
          <img src="assets/garbage-truck.png" />
        </div>
        <h2>{{'welcome.walkthrough.slide1_title' | translate}}</h2>
        <p>
          {{'welcome.walkthrough.slide1_content' | translate}}
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <div class="image-wrapper">
          <img src="assets/maps-and-location.png" />
        </div>
        <h2>{{'welcome.walkthrough.slide2_title' | translate}}</h2>
        <p [innerHTML]="'welcome.walkthrough.slide2_content' | translate"></p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <div class="image-wrapper">
          <img src="assets/notification.png" />
        </div>
        <h2>{{'welcome.walkthrough.slide3_title' | translate}}</h2>
        <p [innerHTML]="'welcome.walkthrough.slide3_content' | translate"></p>
        <div class="action-button">
          <ion-button (click)="completeWalkthrough()">{{'welcome.walkthrough.get_started' | translate}}</ion-button>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>