<ion-header>
  <ion-toolbar>
    <ion-title>{{'about.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>{{'about.developers' | translate}}</h2>
      </ion-label>
      <ion-button fill="clear" slot="end" routerLink="/tabs/about/developers">{{'generic.view' | translate}}
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>{{'about.attributions' | translate}}</h2>
      </ion-label>
      <ion-button fill="clear" slot="end" routerLink="/tabs/about/attributions">{{'generic.view' | translate}}
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>{{'about.privacy_policy' | translate}}</h2>
      </ion-label>
      <ion-button fill="clear" slot="end" routerLink="/tabs/about/privacy-policy">{{'generic.view' | translate}}
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>{{'about.terms_and_cond' | translate}}</h2>
      </ion-label>
      <ion-button fill="clear" slot="end" routerLink="/tabs/about/terms-and-conditions">{{'generic.view' | translate}}
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>{{'about.version' | translate}}</h2>
        <p>{{'about.version_subtext' | translate}}</p>
      </ion-label>
    </ion-item>


  </ion-list>
</ion-content>