<ion-header>
  <ion-toolbar>
    <ion-title>{{'settings.title'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>{{'settings.residential_location' | translate}}</h2>
        <p>{{'settings.residential_location_explanation' | translate}}</p>
      </ion-label>
      <ion-button fill="clear" slot="end" (click)="showLocationSelectionModal()">{{'generic.change' | translate}}</ion-button>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>{{'settings.language' | translate}}</h2>
        <p>{{'settings.language_explanation' | translate}}</p>
      </ion-label>
      <ion-button fill="clear" slot="end" (click)="showLanguageSelectionModal()">{{'generic.change' | translate}}</ion-button>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>{{'settings.notifications' | translate}}</h2>
        <p>{{'settings.notifications_explanation' | translate}}</p>
      </ion-label>
      <ion-toggle [disabled]="loading" [(ngModel)]="notifications" slot="end" (ngModelChange)="updateNotificationPreference()"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>