<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'about.terms_and_cond' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
    <div [innerHTML]="'large_texts.terms_and_conditions_html' | translate"></div>
  </ion-text>
</ion-content>