<ion-header>
  <ion-toolbar>
    <ion-title>{{'settings.select_language.title' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">{{'generic.close' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>English</h2>
      </ion-label>
      <ion-button fill="clear" slot="end" (click)="selectLanguage('en')">{{'generic.select' | translate}}</ion-button>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>සිංහල</h2>
      </ion-label>
      <ion-button fill="clear" slot="end" (click)="selectLanguage('si')">{{'generic.select' | translate}}</ion-button>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>தமிழ்</h2>
      </ion-label>
      <ion-button fill="clear" slot="end" (click)="selectLanguage('ta')">{{'generic.select' | translate}}</ion-button>
    </ion-item>
  </ion-list>
</ion-content>