<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="map">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>{{'tabs.map' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>{{'tabs.settings' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label>{{'tabs.about' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>